.a{
    width: :100px;
    height:100px;
    font-size: 100px;
}

body{
    margin-left:18%;}
.a{
    background-color: white;

}
.b{
    width:100px;
    height:10px;
   background-color:black ;
   font-size: 100px;
   color: white;
}
p{
    font-weight: 900;
    font-size: 50px;
    margin-left: 25%;
}